{%extends 'all-photos/base.html'%}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div id= "image">
                <h1 id= "name" class="text-center">{{image.name}}</h1>
                <a href="url"><img id="image" src="{{image.image.url}}" class="img-responsive" alt=""></a>
                <p id="descri">{{image.description}}</p>
                <p>Description {{image.pub_date|timesince}} by {{image.description.name}}</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}