
h1
{
  color: rgb(128, 0, 28);
}
.row{
  display: center;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color:rgb(246, 210, 246);
}
 
.lightbox img{
  height: 450px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;
  }
.row{
  border:2px solid brown;
  margin-left:200px;
  margin-right:100px;
}



    